h1 {
    color: blue;
    text-decoration: bold;
    text-align: center;
}

div > p {
    color: green;
    text-decoration: underline;
}

div + p {
    color: red;
}

div ~ p {
    background-color: yellow;
}